<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Training Routine Progress</title>
</head>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="../../assets/img/logo.png" alt="Vital Ease Logo" routerLink="/">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="/map">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>
      <a class="arrow" routerLink="/manage-training-routines/">◄</a>
      Training Routine Progress
    </h1>

    <div class="content-wrapper" *ngIf="exercises.length > 0">
      <!-- Exibição do exercício atual -->
      <div class="text-content">
        <h3>{{ exercises[activeExerciseIndex]?.name }}</h3>
        <strong>Description:</strong> <span>{{ exercises[activeExerciseIndex]?.description }}</span> <br />
        <strong>Type:</strong> <span [ngClass]="exercises[activeExerciseIndex]?.type"> {{ exercises[activeExerciseIndex]?.type }}</span> <br />
        <strong>Difficulty:</strong> <span class="difficulty"> {{ exercises[activeExerciseIndex]?.difficultyLevel }}</span> <br />
        <strong>Muscle Group:</strong> <span class="muscleGroup"> {{ exercises[activeExerciseIndex]?.muscleGroup }}</span> <br />
        <strong>Equipment Necessary:</strong> <span class="equipment"> {{ exercises[activeExerciseIndex]?.equipmentNecessary }}</span> <br />

        <strong *ngIf="shownRelation?.reps !== 0 && shownRelation?.reps !== null && shownRelation?.reps !== undefined">Reps:</strong>
        <span *ngIf="shownRelation?.reps !== 0 && shownRelation?.reps !== null && shownRelation?.reps !== undefined" class="reps"> {{ shownRelation?.reps }}</span>
        <br *ngIf="shownRelation?.reps !== 0 && shownRelation?.reps !== null && shownRelation?.reps !== undefined">

        <strong *ngIf="shownRelation?.duration !== 0 && shownRelation?.duration !== null && shownRelation?.duration !== undefined">Duration:</strong>
        <span *ngIf="shownRelation?.duration !== 0 && shownRelation?.duration !== null && shownRelation?.duration !== undefined" class="duration"> {{ shownRelation?.duration }}</span>
        <br *ngIf="shownRelation?.duration !== 0 && shownRelation?.duration !== null && shownRelation?.duration !== undefined">

        <strong *ngIf="shownRelation?.sets !== 0 && shownRelation?.sets !== null && shownRelation?.sets !== undefined">Sets:</strong>
        <span *ngIf="shownRelation?.sets !== 0 && shownRelation?.sets !== null && shownRelation?.sets !== undefined" class="sets"> {{ shownRelation?.sets }}</span>
        <br *ngIf="shownRelation?.sets !== 0 && shownRelation?.sets !== null && shownRelation?.sets !== undefined">
      </div>

      <!-- Exibição de mídia (imagem ou vídeo) -->
      <div class="media-container">
        <button class="media-navigation prev" *ngIf="activeMediaIndex > 0" (click)="previousMedia()">&#8592;</button>

        <div *ngIf="media.length > 0">
          <div *ngIf="media[activeMediaIndex].type === 'Image'">
            <img [src]="media[activeMediaIndex].url" alt="Exercise Image">
          </div>
          <div *ngIf="media[activeMediaIndex].type === 'Video'">
            <iframe [src]="sanitizeUrl(media[activeMediaIndex].url)" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <button class="media-navigation next" *ngIf="activeMediaIndex < media.length - 1" (click)="nextMedia()">&#8594;</button>
      </div>
    </div>

    <!-- Mensagem caso não existam exercícios -->
    <div *ngIf="exercises.length === 0">
      <p>No exercises available for this routine.</p>
    </div>

    <!-- Botões de navegação entre exercícios -->
    <div class="exercise-navigation">
      <button class="prev-exercise" *ngIf="activeExerciseIndex > 0" (click)="previousExercise()">⟵ Previous</button>
      <button class="skip-exercise" *ngIf="activeExerciseIndex < exercises.length - 1" (click)="skipExercises()">⏭️ Skip</button>
      <button class="next-exercise" *ngIf="activeExerciseIndex < exercises.length - 1" (click)="nextExercise()">Next ⟶</button>
      <button class="next-exercise" *ngIf="activeExerciseIndex == exercises.length - 1" (click)="goToTrainingRoutines()">Complete</button>
    </div>
  </div>

  <footer>
    <a href="/termsOfUse">Terms of Use</a> | <a href="/privacyPolicy">Privacy Policy</a>
    <p>&copy; Vital Ease 2025</p>
  </footer>
</body>
</html>
