<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Log Dashboard</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="header">
        <div class="row">
          <img src="assets/img/logo.png" alt="Vital Ease Logo" />
          <h2>Vital Ease - Your app focused in wellness and exercise</h2>
          <button class="home-button" (click)="goToHome()">Home</button>
          <div class="auth-buttons">
            <!-- Botões de login/logout -->
            <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
            <button *ngIf="isLoggedIn" routerLink="/myProfile" class="profile-button">
              <i class="fas fa-user"></i> My Profile
            </button>
          </div>
        </div>
      </div>

      <!-- Conteúdo Principal -->
      <div class="main-content">
        <div class="welcome">
          <h1>Dashboard of Logs 👋</h1>
          <p>
            Hello Admin {{email}}!
          </p>

          <!-- Mensagem de erro -->
          <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
          </div>

          <div class="filters">
            <input type="number" placeholder="User ID" [(ngModel)]="filters.userId" />
            <input type="text" placeholder="User Email" [(ngModel)]="filters.userEmail" />
            <input type="date" [(ngModel)]="filters.dateFrom" />
            <input type="date" [(ngModel)]="filters.dateTo" />
            <input type="text" placeholder="Action Type" [(ngModel)]="filters.actionType" />
            <input type="text" placeholder="Status" [(ngModel)]="filters.status" />

            <button (click)="getFilterLogs()">Search</button>
          </div>

            <table *ngIf="logs.length > 0" class="logs-table">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Action</th>
                  <th>Status</th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of logs">
                  <td>{{ log.timestamp | date: 'short' }}</td>
                  <td>{{ log.action }}</td>
                  <td>{{ log.status }}</td>
                  <td>{{ log.userId }}</td>
                </tr>
              </tbody>
            </table>

          <!-- Mensagem para quando não houver logs -->
          <div *ngIf="logs.length === 0" class="no-logs">
            <p>No logs found.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
