* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

.auth-buttons button, .Dashboard-button {
  padding: 8px 15px;
  border: none;
  background-color: white;
  cursor: pointer;
}

  .auth-buttons button:hover, .Dashboard-button:hover {
    background-color: #ccc;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px auto;
  width: 90%;
  background: #f4f9f7;
  padding: 40px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-content {
  max-width: 50%;
  text-align: left;
}

  .text-content p {
    font-size: 1rem;
  }

.media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  position: relative;
}

  .media-container img,
  .media-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

.media-navigation {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.prev {
  left: -35px;
}

.next {
  right: -35px;
}



.Warm-up {
  color: orange;
  font-weight: bold;
}

.Cool-down {
  color: blue;
  font-weight: bold;
}

.Stretching {
  color: green;
  font-weight: bold;
}

.Muscle-focused {
  color: red;
  font-weight: bold;
}

.Default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}

.warm-up {
  color: orange;
  font-weight: bold;
}

.cool-down {
  color: blue;
  font-weight: bold;
}

.stretching {
  color: green;
  font-weight: bold;
}

.muscle-focused {
  color: red;
  font-weight: bold;
}

.default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}


@media (max-width: 480px) {

  h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .exercise-info {
    text-align: left;
    font-size: 10px;
  }

  .exercise-actions {
    display: flex;
    flex-direction: column; /* Coloca os botões em coluna */
    gap: 10px;
  }

  .text-content {
    max-width: 50%;
    text-align: left;
    font-size: 0.5rem;
  }

   
  .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    position: relative;
  }

    .media-container img,
    .media-container iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }


  .media-navigation {
    position: absolute;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
  }

  .prev {
    left: -20px;
  }

  .next {
    right: -20px;
  }

}
