<html>
<body>
  <div class="header">
    <img src="../../assets/img/logo.png" alt="Logo" routerLink="/">
    <a href="/exercises">Exercises</a>
    <a href="/manage-training-routines">Training Routines</a>
    <a href="#">Map</a>
    <a href="/aboutUs">About Us</a>
    <button class="Dashboard-button" *ngIf="isAdmin" (click)="goToDashboard()">Dashboard</button>
    <div class="auth-buttons">
      <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
      <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
    </div>
  </div>

  <div class="container">
    <h2>
      <a class="arrow" (click)="goToPreviousPage()">◄</a>
      Exercise Details
    </h2>
    <div class="content-wrapper">
      <div class="text-content">
        <h3>{{ exercise.name }}</h3>
        <strong>Description: </strong> <span> {{ exercise.description }}</span> <br />
        <strong>Type:</strong>  <span [ngClass]="exercise.type"> {{ exercise.type }}</span> <br />
        <strong>Difficulty:</strong> <span class="difficulty"> {{ exercise.difficultyLevel }}</span> <br />
        <strong>Muscle Group:</strong> <span class="muscleGroup"> {{ exercise.muscleGroup }}</span> <br />
        <strong>Equipment Necessary:</strong><span class="equipment"> {{ exercise.equipmentNecessary }}</span> <br />
        <strong *ngIf="exercise.reps !== 0">Reps:</strong>
        <span *ngIf="exercise.reps !== 0" class="reps"> {{ exercise.reps }}</span> <br *ngIf="exercise.reps !== 0">

        <strong *ngIf="exercise.duration !== 0">Duration:</strong>
        <span *ngIf="exercise.duration !== 0" class="duration"> {{ exercise.duration }}</span> <br *ngIf="exercise.duration !== 0">
      </div>
      <div class="media-container">
        <button class="media-navigation prev" *ngIf="activeMediaIndex > 0" (click)="previousMedia()">&#8592;</button>
        <div *ngIf="media[activeMediaIndex].type === 'Image'">
          <img [src]="media[activeMediaIndex].url" alt="Exercise Image">
        </div>
        <div *ngIf="media[activeMediaIndex].type === 'Video'">
          <iframe [src]="sanitizeUrl(media[activeMediaIndex].url)" frameborder="0" allowfullscreen></iframe>
        </div>
        <button class="media-navigation next" *ngIf="activeMediaIndex < media.length - 1" (click)="nextMedia()">&#8594;</button>
      </div>
    </div>
  </div>

  <footer>
    <a href="/termsOfUse">Terms of Use</a> | <a href="/privacyPolicy">Privacy Policy</a>
    <p>&copy; Vital Ease 2025</p>
  </footer>
</body>
</html>
