################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PV_VitalEase/.vs/PV_VitalEase/FileContentIndex
