################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PV_VitalEase/.vs/PV_VitalEase/FileContentIndex
PV_VitalEase/.vs/PV_VitalEase/v17/.suo
PV_VitalEase/.vs/PV_VitalEase/v17/DocumentLayout.backup.json
PV_VitalEase/.vs/PV_VitalEase/v17/DocumentLayout.json
PV_VitalEase/vitalease.client/obj/Debug/vitalease.client.esproj.FileListAbsolute.txt
PV_VitalEase/VitalEase.Server/bin/Debug/net8.0/spa.proxy.json
PV_VitalEase/VitalEase.Server/bin/Debug/net8.0/VitalEase.Server.dll
PV_VitalEase/VitalEase.Server/bin/Debug/net8.0/VitalEase.Server.exe
PV_VitalEase/VitalEase.Server/bin/Debug/net8.0/VitalEase.Server.pdb
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/apphost.exe
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/ref/VitalEase.Server.dll
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/refint/VitalEase.Server.dll
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/spa.proxy.json
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/staticwebassets.build.json
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.AssemblyInfo.cs
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.AssemblyInfoInputs.cache
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.assets.cache
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.csproj.AssemblyReference.cache
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.csproj.CoreCompileInputs.cache
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.csproj.FileListAbsolute.txt
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.dll
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.GeneratedMSBuildEditorConfig.editorconfig
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.genruntimeconfig.cache
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.MvcApplicationPartsAssemblyInfo.cs
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.pdb
PV_VitalEase/VitalEase.Server/obj/Debug/net8.0/VitalEase.Server.sourcelink.json
PV_VitalEase/VitalEase.Server/obj/project.assets.json
PV_VitalEase/VitalEase.Server/obj/project.nuget.cache
PV_VitalEase/VitalEase.Server/obj/VitalEase.Server.csproj.nuget.dgspec.json
PV_VitalEase/VitalEase.Server/obj/VitalEase.Server.csproj.nuget.g.props
