* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }


.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exercise-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
}

.exercise-info {
  text-align: left;
}

.exercise-actions {
  display: flex;
  flex-direction: column; /* Coloca os botões em coluna */
  gap: 10px;
}


.Warm-up {
  color: orange;
  font-weight: bold;
}

.Cool-down {
  color: blue;
  font-weight: bold;
}

.Stretching {
  color: green;
  font-weight: bold;
}

.Muscle-focused {
  color: red;
  font-weight: bold;
}

.Default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}

.warm-up {
  color: orange;
  font-weight: bold;
}

.cool-down {
  color: blue;
  font-weight: bold;
}

.stretching {
  color: green;
  font-weight: bold;
}

.muscle-focused {
  color: red;
  font-weight: bold;
}

.default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}

.details{
  background: #5c8a80;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

  .details:hover {
    background: #476e66;
  }

.container {
    padding: 20px;
}

footer {
  margin-top: 20px;
  font-size: 20px;
  color: #6C9C94;
  margin-left: 40%;
}

  footer a {
    color: #6C9C94;
    text-decoration: none;
  }

    footer a:hover {
      text-decoration: underline;
    }

  footer p {
    margin-left: 5%;
  }

@media (max-width: 780px) {

  h1 {
    font-size: 2rem;
    margin-left: 5px;
  }

  .header img {
    width: 75px;
    height: 75px;
  }

  .header span {
    font-size: 1rem;
    font-weight: bold;
  }

  .header a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .header button {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }
}

@media (max-width: 550px) {

  h1 {
    font-size: 1.2rem;
  }

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header img {
    width: 50px;
    height: 50px;
  }


  .header button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .exercise-info {
    text-align: left;
    font-size: 10px;
  }

  .exercise-actions {
    display: flex;
    flex-direction: column; /* Coloca os botões em coluna */
    gap: 10px;
  }

  .details {
    background: #5c8a80;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }


  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }
}
