<html>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="../../assets/img/logo.png" alt="Vital Ease Logo">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="/map">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Exercises</h1>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div class="exercise-list">
      <div class="exercise-card" *ngFor="let exercise of exercises">
        <div class="exercise-info">
          <strong>{{ exercise.name }}</strong> <br />
          <span>{{ exercise.description }}</span><br />
          <span [ngClass]="exercise.type">{{ exercise.type }}</span><br />
          <span>{{ exercise.difficultyLevel }}</span><br />
        </div>
        <div class="exercise-actions">
          <!-- Botão para abrir o modal e exibir os detalhes do exercício -->
          <button class="details" [routerLink]="['/training-routine-exercise-details', exercise.id]">Details</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
