<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Training Routines</title>
  <link rel="stylesheet" href="manage-training-routines.component.css">
</head>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="assets/img/logo.png" alt="Vital Ease Logo">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="#">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Training routines</h1>

    <button class="addRoutine-button"
            *ngIf="isAdmin"
            (click)="openAddRoutineModal()">
      Add New Routine
    </button>

    <div class="routine-header">
      <a routerLink="/custom-training-routines" class="custom-training">Custom Training Routines</a>
    </div>

    <ul class="routine-list" *ngIf="routines && routines.length > 0">
      <li class="routine-item" *ngFor="let routine of routines">
        <a class="routine-name" (click)="navigateToRoutine(routine.id)">{{ routine.name }}</a>
        <button class="start" (click)="navigateToRoutineProgress(routine.id)" >Start</button>
      </li>
    </ul>
  </div>


  <div class="modal" [ngClass]="{ 'show': activeModal === 'addRoutine' }">
    <div class="modal-content-one">
      <h2>Add New Routine</h2>
      <form #exerciseForm="ngForm">
        <div class="input-container">
          <div class="input-group">
            <input type="text" id="newName" [(ngModel)]="newName" name="newName" placeholder="Routine Name" required>
            <input type="text" id="newDescription" [(ngModel)]="newDescription" name="newDescription" placeholder="Routine Description" required>
            <input type="text" id="newNeeds" [(ngModel)]="newNeeds" name="newNeeds" placeholder="Routine Needs" required>
          </div>

          <div class="input-group">
            <select [(ngModel)]="newType" name="newType" required>
              <option value="" selected>Select Routine Type</option>
              <option value="Warm-up">Warm-up</option>
              <option value="Cool-Down">Cool-Down</option>
              <option value="Stretching">Stretching</option>
              <option value="Muscle-focused">Muscle-focused</option>
            </select>

            <select [(ngModel)]="newRoutineLevel" name="newRoutineLevel" required>
              <option value="" selected>Select Routine Level</option>
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
          </div>

        </div>

        <div class="exercise-list">
          <h3>Select Exercises:</h3>

          <div *ngFor="let exercise of exercises">
            <label>
              <input type="checkbox" [value]="exercise.id" (change)="toggleExerciseSelection(exercise.id)">
              {{ exercise.name }}
            </label>

          
          </div>
        </div>

        <div *ngIf="successMessage" class="successMessage">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert-danger">{{ errorMessage }}</div>

        <div class="modal-buttons">
          <button type="button" class="modalButton" (click)="addRoutine()">Add</button>
          <button type="button" class="modalButton close-btn" (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
