<html>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="assets/img/logo.png" alt="Vital Ease Logo">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="/map">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Exercises</h1>

    <button class="addExercise-button"
            *ngIf="isAdmin"
            (click)="openAddExerciseModal()">
      Add New Exercise
    </button>
    <div class="filters">
      <select [(ngModel)]="filters.type">
        <option value="" selected>Select Exercise Type</option>
        <option value="Warm-up"> Warm-up </option>
        <option value="Cool-Down">Cool-Down </option>
        <option value="Stretching"> Stretching</option>
        <option value="Muscle-focused"> Muscle-focused </option>
      </select>

      <input type="text" placeholder="Muscle group targeted" [(ngModel)]="filters.muscleGroup" />

      <select [(ngModel)]="filters.difficultyLevel">
        <option value="" selected> Select Difficulty </option>
        <option value="Beginner"> Beginner </option>
        <option value="Intermediate"> Intermediate </option>
        <option value="Advanced"> Advanced </option>
      </select>

      <input type="text" placeholder="Equipment Needed" [(ngModel)]="filters.equipmentNeeded" />


      <button (click)="getFilteredExercises()">Search</button>

      <select [(ngModel)]="selectedSortedOption" (ngModelChange)="sortExercises()">
        <option value="" selected>Select Sort Option</option>
        <option value="name-asc">Alphabetical (A-Z)</option>
        <option value="name-desc">Alphabetical (Z-A)</option>
        <option value="difficulty-asc">Difficulty (Beginner to Advanced)</option>
        <option value="difficulty-desc">Difficulty (Advanced to Beginner)</option>
        <option value="muscle-group">Alphabetical Muscle Group (A-Z)</option>
        <option value="equipment">Alphabetical Equipment Requirements (A-Z)</option>
      </select>

    </div>

    <div class="exercise-list">
      <div class="exercise-card" *ngFor="let exercise of exercises">
        <div class="exercise-info">
          <strong>{{ exercise.name }}</strong> <br />
          <span>{{ exercise.description }}</span><br />
          <span [ngClass]="exercise.type">{{ exercise.type }}</span><br />
          <span>{{ exercise.difficultyLevel }}</span><br />
        </div>
        <div class="exercise-actions">
          <!-- Botão para abrir o modal e exibir os detalhes do exercício -->
          <button class="details" (click)="openModal('details', exercise)">Details</button>
          <button class="add" (click)="openAddModal(exercise)">ADD</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" [class.show]="activeModal === 'details'">
    <div class="modal-content">
      <h2>{{ modalExercise?.name }}</h2>



      <div *ngIf="media && media.length > 0">
        <div class="media-container">

          <button class="media-navigation previous" *ngIf="activeMediaIndex > 0" (click)="previousMedia()">
            &#8592; <!-- Setinha para a esquerda -->
          </button>

          <div *ngIf="media[activeMediaIndex].type === 'Image'">
            <img [src]="media[activeMediaIndex].url" class="image" alt="Exercise Image">
          </div>
          <div *ngIf="media[activeMediaIndex].type === 'Video'">
            <iframe [src]="sanitizeUrl(media[activeMediaIndex].url)" class="Video" frameborder="0" allowfullscreen></iframe>
          </div>

          <!-- Botões de navegação para alternar entre imagens e vídeos -->
          <button class="media-navigation next" *ngIf="activeMediaIndex < media.length - 1" (click)="nextMedia()">
            &#8594; <!-- Setinha para a direita -->
          </button>
        </div>
      </div>

      <!-- Informações do exercício -->
      <span [ngClass]="modalExercise?.type"><strong class="modalType">Type:</strong> {{ modalExercise?.type }}</span><br />
      <span><strong>Description:</strong> {{ modalExercise?.description }}</span><br />
      <span><strong>Difficulty:</strong> {{ modalExercise?.difficultyLevel }}</span><br />
      <span><strong>Muscle Group:</strong> {{ modalExercise?.muscleGroup }}</span><br />
      <span><strong>Necessary equipment:</strong> {{ modalExercise?.equipmentNecessary }}</span><br />

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Close</button>
    </div>
  </div>

  <div class="modal" [class.show]="activeModal === 'add'">
    <div class="modal-content">
      <h2> Add exercise to your routine</h2>
      <p class="chooseRoutine"> Choose a custom training routine</p>

      <select [(ngModel)]="selectedRoutine">
        <option value="" selected>Select a routine</option>
        <option *ngFor="let routine of routines" [value]="routine.id">{{ routine.name }}</option>
      </select>

      <div class="radio-container">
        <label>
          <input type="radio" name="option" value="duration" [(ngModel)]="selectedOption"> Duration
        </label>
        <label>
          <input type="radio" name="option" value="reps" [(ngModel)]="selectedOption"> Reps
        </label>
      </div>

      <div class="input-container-modal">
        <input *ngIf="selectedOption === 'duration'" type="number" id="durationInput" [(ngModel)]="duration" name="duration" required>
        <span *ngIf="selectedOption === 'duration'" class="unit">Secs</span>

        <input *ngIf="selectedOption === 'reps'" type="number" id="repsInput" [(ngModel)]="reps" name="reps" required>
      </div><br /> 

      <div *ngIf="successMessage" class="successMessage">{{ successMessage }}</div>
      <div *ngIf="addRoutineErrorMessage" class="alert-danger">{{ addRoutineErrorMessage }}</div>

      <button class="modalButton" [disabled]="!selectedRoutine" (click)="addRoutine()">Add</button>
      <button class="modalButton" type="reset" (click)="closeModal()">Close</button>
    </div>
  </div>


  <div class="modal" [ngClass]="{ 'show': activeModal === 'addExercise' }">
    <div class="modal-content-one">
      <h2>Add New Exercise</h2>
      <form #exerciseForm="ngForm">
        <div class="input-container">
          <div class="input-group">
            <input type="text" id="newName" [(ngModel)]="newName" name="newName" placeholder="Exercise Name" required>
            <input type="text" id="newDescription" [(ngModel)]="newDescription" name="newDescription" placeholder="Exercise Description" required>
          </div>

          <div class="input-group">
            <select [(ngModel)]="newType" name="newType" required>
              <option value="" selected>Select Exercise Type</option>
              <option value="Warm-up">Warm-up</option>
              <option value="Cool-Down">Cool-Down</option>
              <option value="Stretching">Stretching</option>
              <option value="Muscle-focused">Muscle-focused</option>
            </select>

            <select [(ngModel)]="newDifficultyLevel" name="newDifficultyLevel" required>
              <option value="" selected>Select Difficulty</option>
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
          </div>

          <div class="input-group">
            <input type="text" id="newMuscleGroup" [(ngModel)]="newMuscleGroup" name="newMuscleGroup" placeholder="Muscle Group" required>
            <input type="text" id="newEquipmentNecessary" [(ngModel)]="newEquipmentNecessary" name="newEquipmentNecessary" placeholder="Equipment Necessary" required>
          </div>

          <!-- Media 1 -->
          <div class="input-group">
            <input type="text" id="newMediaName" [(ngModel)]="newMediaName" name="newMediaName" placeholder="Media Name" required>
            <select [(ngModel)]="newMediaType" name="newMediaType" required>
              <option value="" selected>Select Media Type</option>
              <option value="Image">Image</option>
              <option value="Video">Video</option>
            </select>
          </div>
          <input type="text" id="newMediaUrl" [(ngModel)]="newMediaUrl" name="newMediaUrl" placeholder="Media URL" required>

          <!-- Media 2 -->
          <div class="input-group">
            <input type="text" id="newMediaName1" [(ngModel)]="newMediaName1" name="newMediaName1" placeholder="Media Name1" required>
            <select [(ngModel)]="newMediaType1" name="newMediaType1" required>
              <option value="" selected>Select Media Type</option>
              <option value="Image">Image</option>
              <option value="Video">Video</option>
            </select>
          </div>
          <input type="text" id="newMediaUrl1" [(ngModel)]="newMediaUrl1" name="newMediaUrl1" placeholder="Media URL1" required>

          <!-- Media 3 (Opcional) -->
          <div class="input-group">
            <input type="text" id="newMediaName2" [(ngModel)]="newMediaName2" name="newMediaName2" placeholder="Media Name2">
            <select [(ngModel)]="newMediaType2" name="newMediaType2">
              <option value="" selected>Select Media Type</option>
              <option value="Image">Image</option>
              <option value="Video">Video</option>
            </select>
          </div>
          <input type="text" id="newMediaUrl2" [(ngModel)]="newMediaUrl2" name="newMediaUrl2" placeholder="Media URL2">

        </div>

        <div *ngIf="successMessage" class="successMessage">{{ successMessage }}</div>
        <div *ngIf="addErrorMessage" class="alert-danger">{{ addErrorMessage }}</div>

        <div class="modal-buttons">
          <button type="button" class="modalButton" (click)="addExercise()">Add</button>
          <button type="button" class="modalButton close-btn" (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>



