* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border: solid black;
}

  .modal.show {
    display: flex;
  }

.modal-content {
  background: #f3f7f5;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

.container {
  padding: 20px;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exercise-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
}

.exercise-info {
  text-align: left;
}

.exercise-actions {
  display: flex;
  flex-direction: column; /* Coloca os botões em coluna */
  gap: 10px;
}

.details, .add {
  background: #5c8a80;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

  .details:hover, .add:hover {
    background: #476e66;
  }


.Warm-up {
  color: orange;
  font-weight: bold;
}

.Cool-down {
  color: blue;
  font-weight: bold;
}

.Stretching{
  color: green;
  font-weight: bold;
}

.Muscle-focused {
  color: red;
  font-weight: bold;
}

.Default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}

.warm-up {
  color: orange;
  font-weight: bold;
}

.cool-down {
  color: blue;
  font-weight: bold;
}

.stretching {
  color: green;
  font-weight: bold;
}

.muscle-focused {
  color: red;
  font-weight: bold;
}

.default {
  color: black; /* Caso não se encaixe em nenhuma categoria */
}

.modalButton {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  width: 40%;
}

  .modalButton:first-of-type {
    background: #5f9c92;
    color: white;
  }

  .modalButton:last-of-type {
    background: #5f9c92;
    color: white;
  }

  .modalButton:hover {
    opacity: 0.8;
  }

.profile-icon {
  font-size: 40px;
  text-decoration: none;
}


.image {
  width: 100%; /* Ajusta a largura da imagem ao tamanho disponível */
  max-width: 500px; /* Define uma largura máxima para a imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Ajustando o tamanho do vídeo */
.Video {
  width: 100%; /* Ajusta a largura do vídeo ao tamanho disponível */
  max-width: 500px; /* Define uma largura máxima para o vídeo */
  height: auto; /* Mantém a proporção do vídeo */
  margin: 0 auto; /* Centraliza o vídeo horizontalmente */
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-navigation {
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  padding: 10px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

  .media-navigation:hover {
    color: #007bff; /* Cor para o hover */
  }


.filters {
  display: grid;
  gap: 1rem; /* Espaço entre os elementos */
  width: 100%;
  margin: 1rem auto; /* Centraliza o bloco de filtros */
  padding: 1rem;
  background: #f0f0f0; /* Fundo suave para destacar os filtros */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .filters select,
  .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%; /* Garante que o input ocupe a célula inteira */
    background: #fff;
  }

  .filters button {
    background-color: #5c8a80;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    grid-column: span 2; /* O botão ocupa duas colunas no grid */
    justify-self: center; /* Centraliza o botão na célula */
    width: 200px;
  }

    .filters button:hover {
      background-color: #476e66;
    }

.modal-content select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%; /* Garante que o input ocupe a célula inteira */
  background: #fff;
}

.alert-danger{
    color: red;
    margin-top: 10px;
}

.successMessage {
  color: green;
  margin-top: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 10px;
}


input[type="text"],
select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: 2px solid #ccc;
  padding-left: 10px;
  border-radius: 8px;
}

.modal-content-one {
  background: #f3f7f5;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.addExercise-button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  width: 20%;
}

.input-container-modal {
  position: relative;
  display: inline-block;
}

input[type="number"] {
  padding-right: 40px; 
  width: 150px; /* Ajuste conforme necessário */
  font-size: 16px;
  text-align: right;
  border: 2px solid black;
  border-radius: 5px;
}

.unit {
  position: absolute;
  right: 7px;
  top: 52%;
  transform: translateY(-51%);
  font-size: 16px;
  font-weight: bold;
  color: black;
  pointer-events: none; /* Para evitar interação */
}


footer {
  margin-top: 20px;
  font-size: 20px;
  color: #6C9C94;
  margin-left: 40%;
}

  footer a {
    color: #6C9C94;
    text-decoration: none;
  }

    footer a:hover {
      text-decoration: underline;
    }


@media (max-width: 480px) {

  h2 {
    font-size: 1.2rem;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .exercise-info {
    text-align: left;
    font-size: 10px;
  }

  .exercise-actions {
    display: flex;
    flex-direction: column; /* Coloca os botões em coluna */
    gap: 10px;
  }

  .text-content {
    max-width: 50%;
    text-align: left;
    font-size: 0.5rem;
  }


  .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin-left:30%;
  }

    .media-container img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }


  .media-navigation {
    position: absolute;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
  }

  .next {
    right: -45px;
  }

  .previous {
      left: -45px;
  }

  .addExercise-button {
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 30%;
  }

  .filters {
    display: grid;
    gap: 1rem; /* Espaço entre os elementos */
    width: 100%;
    margin: 1rem auto; /* Centraliza o bloco de filtros */
    padding: 1rem;
    background: #f0f0f0; /* Fundo suave para destacar os filtros */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

    .filters select,
    .filters input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 0.5rem;
      width: 100%; /* Garante que o input ocupe a célula inteira */
      background: #fff;
    }

    .filters button {
      background-color: #5c8a80;
      color: white;
      font-size: 0.5rem;
      font-weight: bold;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background 0.3s ease;
      grid-column: span 2; /* O botão ocupa duas colunas no grid */
      justify-self: center; /* Centraliza o botão na célula */
      width: 50%;
    }

      .filters button:hover {
        background-color: #476e66;
      }

  .details, .add {
    background: #5c8a80;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.5rem;
  }

  .media-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 45px;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }
}
