* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

.profile-icon {
  font-size: 40px;
  text-decoration: none;
}

.devs {
  flex: 1 1 40%; /* Ocupa 40% em telas maiores e encolhe em telas menores */
  max-width: 28%;
  max-height: 28%;
}

.devImg {
  width: 234px;
  height: 311px;
  padding: 10px;
  border-radius: 50px;
}

section{
    display: flex;
}

.infoText {
  flex: 1 1 60%;
  padding-left: 20px;
  width: 60%;
  margin-top:3%;
}

.infoText h1{
    font-size: 80px;
}

.infoText p{
    font-size: 30px;
}

.devs{
    padding-top: 3%;
    padding-left: 7%;
}

footer {
  margin-top: 20px;
  font-size: 20px;
  color: #6C9C94;
  margin-left:40%;
}

  footer a {
    color: #6C9C94;
    text-decoration: none;
  }

    footer a:hover {
      text-decoration: underline;
    }

@media (max-width: 768px) {
  header h2 {
    font-size: 1rem;
  }

  .infoText h1 {
    font-size: 1.5rem;
  }

  .infoText p {
    font-size: 0.9rem;
  }

  .devImg {
    width: 125px;
    height: 150px;
  }
}

@media (max-width: 480px) {

  h2 {
    font-size: 1.2rem;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  header h2 {
    font-size: 0.5rem;
  }

  .infoText h1 {
    font-size: 0.7rem;
  }

  .infoText p {
    font-size: 0.4rem;
  }

  .devImg {
    width: 62px;
    height: 75px;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }
}
