
<html>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="assets/img/logo.png" alt="Vital Ease Logo">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="/map">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="infoText">
      <h1>Our Team 👩🏻‍💻👨🏻‍💻</h1>
      <p>
        We are a team of final-year Computer Engineering students passionate about technology and innovation. Vital Ease is our project, born from the desire to create a simple and effective way to improve people's fitness and well-being.
      </p>
      <p>
        Our mission is to empower users by providing personalized training routines and helping them discover local gyms and spas through an intuitive and interactive platform.
      </p>
      <p>
        With Vital Ease, we aim to combine our technical expertise with our commitment to health and wellness, delivering a tool that makes fitness accessible to everyone.
      </p>
      <p>
        Join us on this journey to a healthier lifestyle!
      </p>
    </div>
    <div class="devs">
      <img src="assets/img/dev1.jpeg" class="devImg">
      <img src="assets/img/dev2.jpeg" class="devImg">
      <img src="assets/img/dev3.jpeg" class="devImg">
      <img src="assets/img/dev4.jpeg" class="devImg">
    </div>
  </section>

  <footer>
    <a href="/termsOfUse">Terms of Use</a> | <a href="/privacyPolicy">Privacy Policy</a>
  </footer>
</body>
</html>
