<html>
<body>
  <div class="container-header">
    <div class="header">
      <div class="row">
        <img src="assets/img/logo.png" alt="Vital Ease Logo" routerLink="/">
        <a class="action-button" routerLink="/exercises">Exercises</a>
        <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
        <a class="action-button" routerLink="/map">Map</a>
        <a class="action-button" routerLink="/aboutUs">About Us</a>
        <button class="Dashboard-button"
                *ngIf="isAdmin"
                (click)="goToDashboard()">
          Dashboard
        </button>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <a href="/myProfile" *ngIf="isLoggedIn" class="profile-icon">👤</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="privacyPolicy">Privacy Policy</h2>
  </div>

  <footer>
    <a href="/termsOfUse">Terms of Use</a> | <a href="/privacyPolicy">Privacy Policy</a>
    <p>&copy; Vital Ease 2025</p>
  </footer>
</body>
</html>
