* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

.profile-icon {
  font-size: 40px;
  text-decoration: none;
}

.exercisesTitle{
    padding: 3%;
}

.add-exercise {
  text-align: center;
  margin-top:5%;
}

  .add-exercise #add img {
    max-width: 50px;
    max-height: 50px;
  }

.exercises {
  float: left;
  width: 40%;
}

.exerciseView {
  background: #d9d9d9;
  float: right;
  padding-left: 10px;
  margin-right: 10px;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row1 {
    padding-left: 5%;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.exerciseView h3{
  text-align: center; 
}

.media-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  width: 100%
}

.media-container img,
.media-container iframe {
  width: 480px; /* Ensures it does not exceed the container */
  height: 270px;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit; /* Uses the text color of the parent */
}

.exercises button{
    font-size: 25px;
}


.next {
  font-size: 55px;
}

.prev {
  font-size: 55px;
}

button:focus {
    outline: none; /* Removes focus outline */
  }

button:hover {
    opacity: 0.7; /* Adds slight transparency on hover */
  }

.exercise-card {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: #d9d9d9;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

.warm-up h3 {
    color: orange;
}

.main-exercises {
  margin-top: 10%;
}

.main-exercises h3{
    color: darkred;
}

.cool-down {
  margin-top: 10%;
}

.cool-down h3{
    color: blue;
}

h3 a {
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

#ExercisesTitle {
  font-size: 30px;
}

.exercise-actions {
  display: flex;
  flex-direction: row; /* Coloca os botões em linha */
  gap: 10px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border: solid black;
}

  .modal.show {
    display: flex;
  }

.modal-content-one {
  background: #f3f7f5;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  .modal-content-one select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%; /* Garante que o input ocupe a célula inteira */
    background: #fff;
  }

.modalButton {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  width: 40%;
}

  .modalButton:first-of-type {
    background: #5f9c92;
    color: white;
  }

  .modalButton:last-of-type {
    background: #5f9c92;
    color: white;
  }

  .modalButton:hover {
    opacity: 0.8;
  }


.add {
  background: #5c8a80;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

  .add:hover {
    background: #476e66;
  }


.modalExerciseView {
  background: #d9d9d9;
  float: right;
  padding: 10px;
  margin-right: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}


.modal-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  width: 100%;
}

  .modal-media-container img,
  .modal-media-container iframe {
    width: 400px;
    height: 225px;
  }

  .modal-media-container button {
    font-size: 35px;
  }


.modal-content-two {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background: #f3f7f5;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.input-container-modal {
  position: relative;
  display: inline-block;
}

input[type="number"] {
  width: 150px; /* Ajuste conforme necessário */
  font-size: 16px;
  text-align: right;
  border: 2px solid black;
  border-radius: 5px;
}

.unit {
  font-size: 16px;
  font-weight: bold;
}

.setUnit {
  font-size: 16px;
  font-weight: bold;
}

select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: 2px solid #ccc;
  padding-left: 10px;
  border-radius: 8px;
}

footer {
  margin-top: 20px;
  font-size: 20px;
  color: #6C9C94;
  margin-left: 40%;
}

  footer a {
    color: #6C9C94;
    text-decoration: none;
  }

    footer a:hover {
      text-decoration: underline;
    }

  footer p {
    margin-left: 5%;
  }

.inputError {
  background-color: #f8d7da; /* Fundo vermelho claro */
  color: #721c24; /* Texto vermelho escuro */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
}

button:disabled {
  background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
  color: #a0a0a0 !important; /* Cor do texto cinza claro */
  cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
}

@media (max-width: 990px) {

  h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .header img {
    width: 75px;
    height: 75px;
  }

  .header span {
    font-size: 1rem;
    font-weight: bold;
  }

  .header a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .header button {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin-left: 30%;
  }

    .media-container img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

  .next {
    right: -17px;
  }

  .prev {
    left: -17px;
  }

  .media-navigation {
    position: absolute;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
  }


  .media-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .media-container img,
  .media-container iframe {
    width: 175px; /* Ensures it does not exceed the container */
    height: 90px;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }

  .inputError {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
  }

  button:disabled {
    background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
    color: #a0a0a0 !important; /* Cor do texto cinza claro */
    cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
  }
}

@media (max-width: 550px) {

  h1 {
    font-size: 1.2rem;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  h3{
    font-size:0.7rem;
  }

  .header img {
    width: 50px;
    height: 50px;
  }

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .header button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    position: relative;
    margin-top:5%;
    margin-bottom: 2%;
  }

    .media-container img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }


  .media-navigation {
    position: absolute;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
  }

  .next {
    right: -25px;
  }

  .prev {
    left: -25px;
  }

  .media-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .media-container img,
  .media-container iframe {
    width: 100px; /* Ensures it does not exceed the container */
    height: 100px;
  }

  .warm-up {
    font-size: 0.9rem;
  }

  .main-exercises {
    font-size: 0.9rem;
  }

  .cool-down {
    font-size: 0.9rem;
  }

  .description, .reps, .duration, .sets {
      margin-top:1%;
      font-size: 0.7rem;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }

  .inputError {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
  }

  button:disabled {
    background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
    color: #a0a0a0 !important; /* Cor do texto cinza claro */
    cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
  }

}
