<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Change verification old email</title>
</head>
<body>
  <div class="email-verified-card">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />
    <h2>Email Change Verification!</h2>
    <p>Click confirm to verify the change of your email. If you haven't verified your ñew email yet, go check it to complete the email change.</p>

    <button class="btn-primary" (click)="ConfirmOldEmailChange()">Confirm</button>
    <button class="btn-primary" (click)="CancelOldEmailChange()">Cancel</button>
  </div>

  <!-- Modal for error messages -->
  <div class="modal" [class.show]="showModal">
    <div class="modal-content">
      <div class="modal-header">{{modalInfo}}</div>
      <div class="modal-body">
        <p>{{ modalMessage }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</body>
</html>
