* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8fbfd;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garante que a row ocupe toda a largura */
}

.left {
  flex: 1;
}

.center {
  text-align: center;
  flex: 1;
}

.right {
  flex: 1;
  text-align: right;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .header img {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .header span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .header button:hover {
      background-color: #ddd;
    }

  .header a {
    text-decoration:none;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

.profile-container {
  display: flex;
  justify-content: flex-start; /* Aligning the profile card to the left */
  padding: 20px;
  margin-left:5%;
  width:100%;
}

.profile-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 650px; /* Increased the width to make the card a bit larger */
  text-align: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-icon {
  font-size: 100px;
}

.profile-info p {
  text-align: left;
  margin: 20px 0;
}

.profile-actions a {
  display: block;
  margin: 20px 0;
  color: teal;
  text-decoration: none;
  cursor: pointer;
}

.profile-actions .delete {
  color: red;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border: solid black ;
}

.modal.show{
    display: flex;
}

.modal-content {
  background: #f3f7f5;
  padding: 20px;
  border-radius: 20px ;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.usernameEdit {
  align-items: center; /* Alinha o lápis e o username na mesma linha */
  font-size: 24px; /* Tamanho maior para o username */
  margin-top: 10px; /* Espaço entre o ícone e o username */
}

input[type="date"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: inline-block;
}

input[type="number"] {
  width: 100px; /* Ajuste conforme necessário */
  font-size: 16px;
  text-align: right;
  border: 2px solid black;
  border-radius: 5px;
}

input[type="text"] {
  width: 200px; /* Ajuste conforme necessário */
  font-size: 16px;
  height: 30px;
  border: 2px solid black;
  padding-left:10px;
  border-radius: 5px;
}

.unit {
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding-left: 5px;
}

.modalButton {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  width: 40%;
}

.modalButton:first-of-type {
  background: #5f9c92;
  color: white;
}

.modalButton:last-of-type {
  background: #5f9c92;
  color: white;
}

.modalButton:hover {
  opacity: 0.8;
}


.edit-btn {
  font-size: 15px;
  cursor: pointer; 
  margin-left: 1%;
  background-color: white;
  border: none;
}

  .edit-btn:hover {
    color: #0056b3;
  }

  .edit-btn:focus {
    outline: none; 
  }

select {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background: white; 
  cursor: pointer;
}

  select:focus {
    outline: none;
    border-color: #5f9c92;
  }


.input-container1 {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background: white;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

  .input-container1 input {
    border: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }

.eye-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-container1 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.password-strength-container {
  margin: 15px 0;
}

.strength-indicator {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s;
}

  .strength-bar.weak {
    background-color: red;
  }

  .strength-bar.medium {
    background-color: orange;
  }

  .strength-bar.strong {
    background-color: green;
  }

.strength-feedback {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

footer {
  margin-top: 20px;
  font-size: 20px;
  color: #6C9C94;
  margin-left: 40%;
}

  footer a {
    color: #6C9C94;
    text-decoration: none;
  }

    footer a:hover {
      text-decoration: underline;
    }

  footer p {
    margin-left: 5%;
  }

.inputError {
  background-color: #f8d7da; /* Fundo vermelho claro */
  color: #721c24; /* Texto vermelho escuro */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
}

button:disabled {
  background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
  color: #a0a0a0 !important; /* Cor do texto cinza claro */
  cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
}


  @media (max-width: 768px) {
    h2 {
      font-size: 1rem;
    }

    h1 {
      font-size: 1.5rem;
    }

    .inputError {
      background-color: #f8d7da; /* Fundo vermelho claro */
      color: #721c24; /* Texto vermelho escuro */
      padding: 10px;
      border-radius: 5px;
      margin: 10px;
      font-size: 14px;
      border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
    }

    button:disabled {
      background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
      color: #a0a0a0 !important; /* Cor do texto cinza claro */
      cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
    }
  }

@media (max-width: 990px) {

  h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    margin-left: 5px;
  }

  .header img {
    width: 75px;
    height: 75px;
  }

  .header span {
    font-size: 1rem;
    font-weight: bold;
  }

  .header a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .header button {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }

  .inputError {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
  }

  button:disabled {
    background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
    color: #a0a0a0 !important; /* Cor do texto cinza claro */
    cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
  }
}

@media (max-width: 550px) {

  .header span {
    font-size: 0.5rem;
    font-weight: bold;
  }

  .header img {
    width: 50px;
    height: 50px;
  }

  .header button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  .header a {
    text-decoration: none;
    color: black;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: Inter;
    transition: background-color 0.3s;
  }

  .profile-container {
    display: flex;
    justify-content: flex-start; /* Aligning the profile card to the left */
    padding: 20px;
    margin-left: 2%;
    width: 100%;
  }

  .profile-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
  }

  .profile-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .profile-icon {
    font-size: 50px;
  }

  .profile-info p {
    text-align: left;
    margin: 20px 0;
    font-size: 0.5rem;
  }

  .usernameEdit {
    font-size: 0.8rem; /* Tamanho maior para o username */
  }

  .profile-actions a {
    display: block;
    margin: 20px 0;
    color: teal;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.6rem;
  }

  footer {
    margin-top: 10px;
    font-size: 0.6rem;
    color: #6C9C94;
    margin-left: 40%;
  }

  .inputError {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid #f5c6cb; /* Borda mais clara, combinando com o fundo */
  }

  button:disabled {
    background-color: #d3d3d3 !important; /* Cor de fundo cinza claro */
    color: #a0a0a0 !important; /* Cor do texto cinza claro */
    cursor: not-allowed; /* Indicador de que o botão não pode ser clicado */
  }
}
