
<div class="container">
  <div class="header">
    <div class="row">
      <img src="assets/img/logo.png" alt="Vital Ease Logo">
      <a class="action-button" routerLink="/exercises">Exercises</a>
      <a class="action-button" routerLink="/manage-training-routines">Training Routines</a>
      <a class="action-button" routerLink="#">Map</a>
      <a class="action-button" routerLink="/aboutUs">About Us</a>
      <div class="auth-buttons">
        <!-- Mostrar botão de Login se o usuário não estiver logado -->
        <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-icon">👤</div>
      <h2 class="usernameEdit">
        {{ username }}
        <span class="edit-btn" (click)="openModal('username')">✎</span>
      </h2>
    </div>
    <div class="profile-info">
      <p>
        <strong>Date of Birth</strong>
        <button class="edit-btn" (click)="openModal('birthDate')">
          ✎
        </button>
        <br>
        {{ birthDate }}
      </p>

      <p>
        <strong>Weight</strong>
        <button class="edit-btn" (click)="openModal('weight')">
          ✎
        </button>
        <br>
        {{ weight }}
        <span>kg</span>
      </p>

      <p>
        <strong>Height</strong>
        <button class="edit-btn" (click)="openModal('height')">
          ✎
        </button>
        <br>
        {{ height }}
        <span>cm</span>
      </p>

      <p>
        <strong>Gender</strong>
        <button class="edit-btn" (click)="openModal('gender')">
          ✎
        </button>
        <br>
        {{ gender }}
      </p>

      <p>
        <strong>Has Heart Problems?</strong>
        <button class="edit-btn" (click)="openModal('hasHeartProblems')">
          ✎
        </button>
        <br>
        {{ hasHeartProblems }}
      </p>
    </div>
    <div class="profile-actions">
      <a (click)="openModal('password')">Change Password</a>
      <a (click)="openModal('email')">Change Email</a>
      <a (click)="openModal('deleteAcc')">Delete Account</a>
    </div>
  </div>
</div>

<!-- Modal para eliminar conta -->
<div id="deleteModal" class="modal" [class.show]="activeModal === 'deleteAcc'">
  <div class="modal-content">
    <h3>Confirm Account Deletion</h3>
    <p>Are you sure you want to delete your account? This action is irreversible!</p>

    <!-- Checkbox de confirmação -->
    <input type="checkbox" id="confirmCheck" [(ngModel)]="isConfirmed">
    <label for="confirmCheck">I understand the consequences</label>

    <div class="input-container1">
      <input [type]="showOldPassword ? 'text' : 'password'" id="oldPasswordInput" [(ngModel)]="password" name="password" placeholder="Confirm Password" required>
      <button type="button" class="eye-icon" (click)="togglePasswordVisibilityOld()">
        {{ showOldPassword ? '🙈' : '👁️' }}
      </button>
    </div>
    <div class="buttons">
      <!-- Botão desativado até a checkbox ser marcada -->
      <button (click)="confirmDeleteAccount()" [disabled]="!isConfirmed">Confirm</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>


<!-- Modal for Date of Birth -->
<div class="modal" [class.show]="activeModal === 'birthDate'">
  <div class="modal-content">
    <h2>Edit Date of Birth</h2>
    <form>
      <input type="date" id="birthDateInput" [(ngModel)]="newBirthDate" name="birthDate" required>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeBirthDate(newBirthDate)">Confirm</button>
    </form>
  </div>
</div>

<!-- Modal for Weight -->
<div class="modal" [class.show]="activeModal === 'weight'">
  <div class="modal-content">
    <h2>Edit Weight</h2>
    <form>
      <div class="input-container">
        <input type="number" id="weightInput" [(ngModel)]="newWeight" name="weigh" required>
        <span class="unit">kg</span>
      </div>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeWeight(newWeight)">Confirm</button>
    </form>
  </div>
</div>

<!-- Modal for Height -->
<div class="modal" [class.show]="activeModal === 'height'">
  <div class="modal-content">
    <h2>Edit Height</h2>
    <form>
      <div class="input-container">
        <input type="number" id="heightInput" [(ngModel)]="newHeight" name="height" required>
        <span class="unit">cm</span>
      </div>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeHeight(newHeight)">Confirm</button>
    </form>
  </div>
</div>

<!-- Modal for Gender -->
<div class="modal" [class.show]="activeModal === 'gender'">
  <div class="modal-content">
    <h2>Edit Gender</h2>
    <form (ngSubmit)="changeGender(newGender)">
      <select id="genderInput" [(ngModel)]="newGender" name="gender" required>
        <option value="" disabled selected>Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeGender(newGender)">Confirm</button>
    </form>
  </div>
</div>

<!-- Modal for Heart Problems -->
<div class="modal" [class.show]="activeModal === 'hasHeartProblems'">
  <div class="modal-content">
    <h2>Edit Heart Problems Status</h2>
    <form>
      <select id="heartProblemsInput" [(ngModel)]="newHasHeartProblems" name="heartProblems" required>
        <option value="" disabled selected>Select an option</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeHasHeartProblems(newHasHeartProblems)">Confirm</button>
    </form>
  </div>
</div>

<div class="modal" [class.show]="activeModal === 'username'">
  <div class="modal-content">
    <h2>Edit Username</h2>
    <form>
      <div class="input-container">
        <input type="text" id="usernameInput" [(ngModel)]="newUsername" name="username" required>
      </div>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeUsername(newUsername)">Confirm</button>
    </form>
  </div>
</div>

<div class="modal" [class.show]="activeModal === 'password'">
  <div class="modal-content">
    <h2>Change Password</h2>
    <form>

      <div class="input-container1">
        <input [type]="showOldPassword ? 'text' : 'password'" id="oldPasswordInput" [(ngModel)]="oldPassword" name="oldPassword" placeholder="Old Password" required>
        <button type="button" class="eye-icon" (click)="togglePasswordVisibilityOld()">
          {{ showOldPassword ? '🙈' : '👁️' }}
        </button>
      </div>

      <div class="input-container1">
        <input [type]="showNewPassword ? 'text' : 'password'" id="newPasswordInput" name="newPassword" (input)="calculatePasswordStrength(newPassword)" [(ngModel)]="newPassword" placeholder="New Password" required>
        <button type="button" class="eye-icon" (click)="togglePasswordVisibilityNew()">
          {{ showNewPassword ? '🙈' : '👁️' }}
        </button>
      </div>

      <div class="password-strength-container">
        <div class="strength-indicator">
          <div class="strength-bar"
               [style.width]="passwordStrength + '%'"
               [ngClass]="{
               'weak' : passwordStrength < 25,
  'medium': passwordStrength >= 25 && passwordStrength < 80,
  'strong': passwordStrength >= 80
}"
    ></div>
        </div>
        <p class="strength-feedback">{{ passwordFeedback }}</p>
      </div>

      <div class="input-container1">
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="repeatPasswordInput" [(ngModel)]="confirmPassword" name="repeatPassword" placeholder="Repeat Password" required>
        <button type="button" class="eye-icon" (click)="togglePasswordVisibilityConfirm()">
          {{ showConfirmPassword ? '🙈' : '👁️' }}
        </button>
      </div>

      <div class="instructions">
        <strong>Your password must contain:</strong>
        <ul>
          <li>At least 12 characters</li>
          <li>1 Lower case letter (a-z)</li>
          <li>1 Upper case letter (A-Z)</li>
          <li>1 Special character (!&#64;#$%...)</li>
        </ul>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

      <div class="button-container1">
        <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
        <button class="modalButton" (click)="changePassword(oldPassword,newPassword)">Confirm</button>
      </div>
    </form>
  </div>
</div>

<div class="modal" [class.show]="activeModal === 'email'">
  <div class="modal-content">
    <h2>Edit Email</h2>
    <form>
      <div class="input-container1">
        <input [type]="showPassword ? 'text' : 'password'" id="passwordInput" [(ngModel)]="password" name="password" placeholder="Password" required>
        <button type="button" class="eye-icon" (click)="togglePasswordVisibility()">
          {{ showPassword ? '🙈' : '👁️' }}
        </button>
      </div>
      <div class="input-container1">
        <input type="text" id="emailInput" [(ngModel)]="newEmail" name="email" placeholder="New Email" required>
      </div>
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <button class="modalButton" type="reset" (click)="closeModal()">Cancel</button>
      <button class="modalButton" (click)="changeEmail(password,newEmail)">Confirm</button>
    </form>
  </div>
</div>

<div class="modal" [class.show]="activeModal === 'error'">
  <div class="modal-content">
    <h2>Error Getting User details, please refresh the page.</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button class="modalButton" type="reset" (click)="closeModal()">Close</button>
  </div>
</div>


