<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="reset-pass.component.css"> <!-- Certifique-se de incluir seu arquivo CSS aqui -->
</head>
<body>
  <div class="reset-pass-card">
    <img src="assets/img/logo.png" alt="Logo" class="logo" />
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password" class="form-control" (input)="calculatePasswordStrength(newPassword)" required />
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repeat New Password" class="form-control" required />
      </div>

      <div class="password-strength-container">
        <div class="strength-indicator">
          <div class="strength-bar"
               [style.width]="passwordStrength + '%'"
               [ngClass]="{
               'weak' : passwordStrength < 25,
  'medium': passwordStrength >= 25 && passwordStrength < 80,
  'strong': passwordStrength >= 80
}"
    ></div>
        </div>
        <p class="strength-feedback">{{ passwordFeedback }}</p>
      </div>


      <div class="instructions">
        <strong>Your password must contain:</strong>
        <ul>
          <li>At least 12 characters</li>
          <li>1 Lower case letter (a-z)</li>
          <li>1 Upper case letter (A-Z)</li>
          <li>1 Special character (!&#64;#$%...)</li>
        </ul>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

      <button type="submit" class="btn-primary">Reset Password</button>
    </form>
  </div>

  <div class="modal" [class.show]="showModal">
    <div class="modal-content">
      <div class="modal-header">Erro</div>
      <div class="modal-body">
        <p>{{ modalMessage }}</p>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>

</body>
</html>
