<router-outlet></router-outlet>

<html>
<body>
  <header>
    <a [routerLink]="['/']">
      <img src="assets/img/logo.png" alt="VitalEase Logo">
    </a>
    <div class="headText">
      <h2> Vital Ease - Your app focused in wellness and exercise </h2>
    </div>
    <div class="auth-buttons">
      <!-- Mostrar botão de Login se o usuário não estiver logado -->
      <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>

      <a href="/myProfile" class="profile-icon">👤</a>
    </div>
  </header>

  <section>
    <input id="pac-input" class="form-control"
           type="text" placeholder="Search for places"
           style="width: 300px; margin-top:10px; margin-left:10px; position:absolute; z-index:1;">

    <div #map id="map" style="height:600px; width:100%;"></div>

  </section>

</body>
</html>
