<router-outlet></router-outlet>

<html>
<body>
  <div class="container">
    <div class="header">
      <div class="row">
        <img src="assets/img/logo.png" alt="Vital Ease Logo">
        <h2>Vital Ease - Your app focused in wellness and exercise</h2>
        <div class="auth-buttons">
          <!-- Mostrar botão de Login se o usuário não estiver logado -->
          <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
          <!-- Mostrar botão de Logout se o usuário estiver logado -->
          <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="image-container">
        <img src="assets/img/fitness-illustration.png" alt="Fitness Illustration">
      </div>
      <div class="welcome">
        <h1>Welcome to Vital Ease 👋</h1>
        <p>Your ultimate fitness companion! Vital Ease is a web app designed to simplify your wellness journey. Discover a variety of training routines tailored to your goals, explore an interactive map to locate gyms and spas near you, and stay motivated on your path to a healthier, more active lifestyle.</p>
        <p>Get started today and let Vital Ease guide you to a stronger, more balanced you!</p>
        <div class="buttons">
          <div class="column">
            <button class="action-button">Exercises</button>
            <button class="action-button">Training Routines</button>
          </div>
          <div class="column1">
            <button class="action-button">Map</button>
            <button class="action-button" routerLink="/aboutUs">About Us</button>
          </div>
          </div>
        </div>
    </div>
    </div>

</body>
</html>
