
<body>
  <div class="container">
    <div class="column">
      <h1 class="title">Create account</h1>
      <div class="row">
        <div class="form-wrapper">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
            </div>
            <div class="form-group">
              <label class="birthDate" for="birthDate">Birth Date:</label>
              <input type="date" [(ngModel)]="birthDate" name="birthDate" placeholder="Birthdate" />
            </div>
            <div class="form-group">
              <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-row">
              <div class="form-group half-width">
                <label class="height" for="height">Height:</label>
                <input type="number" [(ngModel)]="height" name="height" min="90" max="300" placeholder="Height" required />
              </div>
              <div class="form-group half-width">
                <label class="weight" for="weight">Weight:</label>
                <input type="number" [(ngModel)]="weight" name="weight" placeholder="Weight" min="30" max="400" required />
              </div>
            </div>
            <div class="form-group">
              <select [(ngModel)]="gender" name="gender" required>
                <option value="" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group password-field">
              <input type="password" [(ngModel)]="password" name="password"  (input)="calculatePasswordStrength(password)" placeholder="Password" required />
            </div>
            <div class="form-group password-field">
              <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="heartProblems" name="heartProblems" />
                I have heart problems
              </label>
            </div>
            <div class="password-strength-container">
              <div class="strength-indicator">
                <div class="strength-bar"
                     [style.width]="passwordStrength + '%'"
                     [ngClass]="{
                     'weak' : passwordStrength < 25,
                     'medium': passwordStrength >= 25 && passwordStrength < 80,
                     'strong': passwordStrength >= 80
                          }"
                      ></div>
              </div>
              <p class="strength-feedback">{{ passwordFeedback }}</p>
            </div>
            <p class="acceptance">By clicking on Submit button, you are accepting our <a href="/termsOfUse"> Terms of Use</a> and our <a href="/privacyPolicy"> Privacy Policy</a></p>
            <button type="submit" class="submit-button">Submit</button>

            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

          </form>
          <div class="footer">
            <a href="/termsOfUse">Terms of Use</a> | <a href="/privacyPolicy">Privacy Policy</a>
            <p>&copy; Vital Ease 2025</p>
          </div>
        </div>
        <div class="info-section">
          <img src="../../assets/img/logo.png" alt="Logo" class="logo" routerLink="/login"/>
          <div class="password-info">
            <p>Your password must contain:</p>
            <ul>
              <li>At least 12 characters</li>
              <li>1 Lower case letter (a-z)</li>
              <li>1 Upper case letter (A-Z)</li>
              <li>1 Special character (! # $ % & ' ( ) * +)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

