/* Configurações básicas */
body {
  margin: 0;
  padding: 0; /* Removido padding */
  font-family: Arial, sans-serif;
  background-color: #f5f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustado para ocupar toda a altura */
}

.container {
  display: flex;
  flex-direction: column; /* Coluna para centralizar "Create Account" no topo */
  align-items: center; /* Alinhado ao centro horizontalmente */
  justify-content: center; /* Alinhado ao centro verticalmente */
  max-width: 1200px;
  height: 90%;
  width: 80%;
  background-color: #f5f9f9;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/* Seção do título */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* Alinhar formulário e seção de informações */
.row {
  display: flex;
  width: 110%;
  justify-content: space-between; /* Espaço uniforme entre form-wrapper e info-section */
  align-items: flex-start; /* Centralizar em relação ao topo */
  gap: 20px; /* Espaçamento entre os itens */
}

/* Seção do formulário */
.form-wrapper {
  flex: 1;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

  .form-group input {
    width: 90%; /* Corrigido para ocupar todo o espaço */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
  }

.form-row {
  display: flex;
  gap: 10px; /* Espaçamento entre os inputs */
}

.half-width {
  width: 45.9%; /* Largura dinâmica */
}

.password-field {
  display: flex;
  align-items: center;
  position: relative; /* Para alinhar o olho no input */
}

  .password-field input {
    width: 21.3rem;
  }

.submit-button {
  width: 100%; /* Ajustado para ocupar toda a largura */
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007b5e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .submit-button:hover {
    background-color: #005740;
  }

.footer {
  text-align: center; /* Centralizado */
  margin-top: 20px;
  font-size: 0.9rem;
}

  .footer a {
    color: #007b5e;
    text-decoration: none;
    margin: 0 5px;
  }

    .footer a:hover {
      text-decoration: underline;
    }

/* Seção informativa */
.info-section {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
  cursor: pointer;
}

.password-info {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  .password-info p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .password-info ul {
    list-style: disc;
    text-align: left;
    padding-left: 20px;
  }

.checkbox {
  margin-bottom: 2%;
}

.acceptance {
  max-width: 100%;
  font-size: 0.9rem;
}

footer p {
  margin-left: 5%;
}

/* Responsividade para telas menores */
@media (max-width: 780px) {

  /* Seção do título */
  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  /* Seção do formulário */
  .form-wrapper {
    flex: 1;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

    .form-group input {
      width: 80%; /* Corrigido para ocupar todo o espaço */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 0.7rem;
      background: #fff;
    }

  .form-row {
    display: flex;
    gap: 10px; /* Espaçamento entre os inputs */
  }

  .half-width {
    width: 41.6%; /* Largura dinâmica */
  }

  .password-field {
    display: flex;
    align-items: center;
    position: relative; /* Para alinhar o olho no input */
  }

    .password-field input {
      width: 10.4rem;
    }

  .submit-button {
    width: 90.5%; /* Ajustado para ocupar toda a largura */
    padding: 10px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #007b5e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .submit-button:hover {
      background-color: #005740;
    }

  .footer {
    margin-top: 20px;
    font-size: 0.7rem;
    margin-left: -12px;
  }

    .footer a {
      color: #007b5e;
      text-decoration: none;
      margin: 0 5px;
    }

      .footer a:hover {
        text-decoration: underline;
      }

  /* Seção informativa */
  .info-section {
    flex: 1;
    text-align: center;
    padding: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }

  .password-info {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
  }

    .password-info p {
      font-weight: bold;
      font-size: 0.8rem;
      margin-bottom: 10px;
    }

    .password-info ul {
      list-style: disc;
      text-align: left;
      font-size: 0.6rem;
      padding-left: 20px;
    }

    .acceptance{
        font-size:0.6rem;
    }

  .checkbox {
    margin-bottom: 2%;
    font-size: 0.7rem;
  }

    .checkbox input[type="checkbox"] {
      width: 8px; /* Largura desejada */
      height: 8px; /* Altura desejada */
      margin-right: 5px; /* Espaço entre checkbox e o texto */
    }
}

@media (max-width: 480px) {

  /* Seção do título */
  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  /* Seção do formulário */
  .form-wrapper {
    flex: 1;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

    .form-group input {
      width: 60%; /* Corrigido para ocupar todo o espaço */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 0.6rem;
      background: #fff;
    }

  .form-row {
    display: flex;
    gap: 10px; /* Espaçamento entre os inputs */
  }

  .half-width {
    width: 33.6%; /* Largura dinâmica */
  }

  .password-field {
    display: flex;
    align-items: center;
    position: relative; /* Para alinhar o olho no input */
  }

    .password-field input {
      width: 5.9rem;
    }

  .submit-button {
    width: 60.5%; /* Ajustado para ocupar toda a largura */
    padding: 10px;
    font-size: 0.5rem;
    color: #fff;
    background-color: #007b5e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

    .submit-button:hover {
      background-color: #005740;
    }

  .footer {
    margin-top: 20px;
    font-size: 0.7rem;
    margin-left: -12px;
  }

    .footer a {
      color: #007b5e;
      text-decoration: none;
      margin: 0 5px;
    }

      .footer a:hover {
        text-decoration: underline;
      }

  /* Seção informativa */
  .info-section {
    flex: 1;
    text-align: center;
    padding: 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }

  .password-info {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
  }

    .password-info p {
      font-weight: bold;
      font-size: 0.8rem;
      margin-bottom: 10px;
    }

    .password-info ul {
      list-style: disc;
      text-align: left;
      font-size: 0.6rem;
      padding-left: 20px;
    }

  .checkbox {
    margin-bottom: 2%;
    font-size: 0.6rem;
  }

    .checkbox input[type="checkbox"] {
      width: 8px; /* Largura desejada */
      height: 8px; /* Altura desejada */
      margin-right: 5px; /* Espaço entre checkbox e o texto */
    }

    .acceptance{
        font-size: 0.5rem;
    }
}

.password-strength-container {
  margin: 15px 0;
}


.strength-indicator {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s;
}

  .strength-bar.weak {
    background-color: red;
  }

  .strength-bar.medium {
    background-color: orange;
  }

  .strength-bar.strong {
    background-color: green;
  }

.strength-feedback {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
